

<div class="footer-basic bottom-0 mt-5">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-github"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Inicio</a></li>
                <li class="list-inline-item"><a href="#">Servicios</a></li>
                <li class="list-inline-item"><a href="#">Acerca de</a></li>
                <li class="list-inline-item"><a href="#">Términos</a></li>
                <li class="list-inline-item"><a href="#">Política de privacidad</a></li>
            </ul>
            <p class="copyright">Todos los derechos reservados © 2022</p>
            <p class="copyright">Paws Finder-Patitas a Casa</p>
        </footer>
</div>
