<div class="page-wrapper">
 <div class="nav-wrapper">
  <div class="grad-bar"></div>
  <nav class="navbar">
    <img src="https://i.gyazo.com/bd43a4e19de6136c4ad85f62692d448f.jpg" alt="Company Logo">
    <div class="menu-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="nav no-search">
      <li class="nav-item"><a href="#">Inicio</a></li>
      <li class="nav-item"><a href="#">Tus publicaciones</a></li>
      <li class="nav-item"><a href="#">Tu perfil</a></li>
      <li class="nav-item"><a href="#">Cerrar sesión</a></li>
      <li class="nav-item"><a href="#">Inicio</a></li>

    </ul>
  </nav>
  </div>
</div>

<!-- https://i.gyazo.com/16694022146c01109d007d57d640b96e.jpg -->
<!-- color rojo: #e02d47-->
<!-- color azul: #02bbb5 -->
