<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <% @posts.each do |post| %>
      <div class="card" style="width: 20rem ">
          <% if post.photos.attached?%>
            <% post.photos.each do |photo| %>
              <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
          <% end %>
          <%= post.address %>
          <%= post.description %>
      </div>
      <% end %>
    </div>
  </div>
</div>
