.banner-image {
  background-image: url(banner-home.jpg);
  background-size: cover;
  // background-repeat: no-repeat;
  height: 350px;
}
.background-form {
  background-image: url(Doodle-blue.png);
  background-size: cover;
}
