.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #02bbb5;
  transition: background 0.3s ease;
}

// .btn-flat:hover {
//   background: #4D04C4;
//   color: white;
// }

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#edit-buttom{
  text-decoration: none;
  color: #02bbb5;
  font-size: 40px;
}

#delete-buttom{
  border-style: none;
  background: none;
  text-decoration: none;
  color: #e02d47;
  font-size: 40px;
}

#delete-buttom-comments{
  border-style: none;
  background: none;
  text-decoration: none;
  color: #e02d47;
  font-size: 20px;
}

#edit-buttom-comments{
  text-decoration: none;
  color: #02bbb5;
  font-size: 20px;
}
