.row {
  display: flex;
}
.col .card{
  margin: 15px;
  padding: 0;
  display: inline-block;
  border: none;
  text-align: center;
}
.cards {
  height: 350px;
}

h2 {
  font-family: 'Fuzzy Bubbles';

}

#titulo{
  font-family: 'Fuzzy Bubbles';

}
#titulo-card {
  font-family: 'Fuzzy Bubbles';
  text-decoration : none;
  text-decoration-line: none

}

.azul {
  color: #02bbb5;
}

.rojo {
  color: #e02d47;
}

.blue-background {
  background-color: #d1fffd;

}
.undecorated-link {
 a{
  text-decoration: none;
  text-decoration-line: none;
}
 a:hover{
  text-decoration: none;
  }
}
