* {
  margin: 0;
  padding: 0;
  //box-sizing: border-box;
  font-family: 'Poppins', 'Arial', sans-serif;
}

h1, p {
  color: #000;
  text-align: center;
  line-height: 1.4;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  color: #000;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;

}

/* BASIC SETUP */

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  	-webkit-animation: gradbar 15s ease infinite;
	-moz-animation: gradbar 15s ease infinite;
	animation: gradbar 15s ease infinite;
  flex-grow: 1;
}

/* NAVIGATION */

.navbar {
  display: flex;
  justify-content: space-between;
  //grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 50px;
  padding-right: 15px;
}

// .navbar img {
//   height: 35px;
//   width: auto;
//   justify-self: start;
//   margin-left: 20px;
// }

.logo-img {
  height: 35px;
  width: auto;
  justify-self: start;
}

.avatar-img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  //grid-template-columns: repeat(6,1fr);
  justify-self: end;
  gap: 15px;
}

.nav-item li :hover {
  color: #02bbb5;
}


.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
