.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 15px;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  width: 120px;
  text-align: center;
}
.tag-show {
  background: #cccccc;
  border-radius: 50px;
  font-size: 20px;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  width: 150px;
  text-align: center;
}

.tag-blue {
  background-color: #02bbb5;
}

.tag-red {
  background-color: #e02d47;
}
