.img-wrapper {
  max-width: 100%;
  height: 17vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.carrusel-item {
  display: block;
  margin-right: 1vw;
  flex: 0 calc(100% / 3);
}



@media screen and (max-width: 768px) {
  .carrusel-inner {
    display: flex;
  }
  .carrusel-item {
    display: block;
    margin-right: 0;
    flex: 0 calc(100% / 3);
  }
  .img-wrapper {
    height: 30vw;
  }
}
.carrusel-inner {
  padding: 20em;
}
.card {
  margin: 10em;
}
